@{
    ViewData["Title"] = "Home Page";
}


<ul>
    <li>
        <a asp-controller="Home" asp-action="Index">Volver al inicio</a>
    </li>
    <li>
        <a asp-controller="EjemplosBootstrap" asp-action="BackgroundColors">Colores de fondo de Bootstrap</a>
    </li>

</ul>