@{
    ViewData["Title"] = "Home Page";
    var fecha = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Hola Mundo !!!!!</h2>
    <p>Fecha y Hora: @fecha</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<ul>
    <li><a href="/Cajas">Cajas</a></li>
    <li><a href="/UsuariosEjemplo01/index">Usuarios</a></li>
    <li><a href="/UsuariosEjemplo01/Pares">Pares de Monedas</a></li>
</ul>